<footer class="footer">
  <div class="info">
    <h4 class="nombre-clinica">
      <i class="bi bi-geo-alt-fill icon-location"></i> 
      Visítanos
    </h4>
    <p><span class="nombre-clinica">Centro Médico Veterinario</span></p> 
    <p>Comayagua, Honduras</p>
    <p>Barrio Santa Lucía, Esquina opuesta a Gasolinera UNO, Santa Lucía.</p>
  </div>

  <div class="contacto">
    <span>Contacto:</span>
  
    <a href="https://wa.me/50496455137" target="_blank">
      <i class="bi bi-whatsapp icon"></i>
    </a>
   
    <a href="mailto:cemevethn@gmail.com">
      <i class="bi bi-envelope icon"></i>
    </a>
  </div>

  <div class="siguenos">
    <span>Síguenos:</span>
    
    <a href="https://www.facebook.com/profile.php?id=100063706107085" target="_blank">
      <i class="bi bi-facebook icon"></i>
    </a>
   
    <a href="https://www.instagram.com/cemevet_hn" target="_blank">
      <i class="bi bi-instagram icon"></i>
    </a>
  </div>
</footer>


<div class="footer-bottom">
  © 2025 - Todos los derechos reservados<br>Recursos gráficos proporcionados por 
  <a href="https://www.freepik.es/" target="_blank">www.freepik.es</a>
</div>