.navbar {
  background-color: #227a89 !important; 
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand img {
  height: 50px; 
}

.navbar-nav {
  display: flex;
  gap: 20px;
  font-weight: bold;
}

.nav-link {
  /* Fondo blanco */
  color: white; /* Letras negras */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 17px; /* Bordes redondeados */
  text-decoration: none; /* Quitar subrayado */
  display: inline-block; /* Para que respete el tamaño del padding */
}

.nav-link:hover {
  background-color: white;
  color: #0e544f !important; /* Cambio de color al pasar el cursor */
  text-decoration: none; 
}

/* 🔥 Efecto especial para la página actual */
.nav-link.active {
  background-color: white; /* Fondo verde oscuro */
  color: #0e544f !important; /* Texto en blanco */
}


/* Estilo para el botón de hamburguesa */
.navbar-toggler {
  border: none;
  background: none;
}

// Hace que el ícono de hamburguesa sea blanco
.navbar-toggler-icon {
  filter: invert(1); 
}

/* Para que los links sean responsivos */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav-item {
    padding: 10px 0;
  }
}