.productos-container {
  text-align: center;
  padding: 20px;
}

.titulo {
  color: #f43b3b;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.franja-celeste {
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.categorias-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  justify-items: center;
}

.categoria {
  width: 250px;
  height: 250px;
  background: #cfe9e8;
  color: #0e544f;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.categoria-icon {
  font-size: 50px;
  color: #0e544f;
  margin-bottom: 10px;
}

.btn-whatsapp {
  display: block;
  background-color: #0e544f;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
}
