.contenedor-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; // centra las tarjetas horizontalmente
  gap: 15px; // agrega espacio entre tarjetas
  padding: 10px; // agrega margen interno para evitar que se peguen a los bordes
}

/* Ajuste en m칩viles */
@media (max-width: 768px) {
  .contenedor-servicios {
    gap: 25px; // aumenta la separaci칩n entre columnas en m칩vil
    padding: 15px; // espacio en los bordes para evitar que se vea pegado
  }
}

h4 {
  margin-top: 0px; /* 游댳 Asegura que no est칠 pegado al navbar */
  margin-bottom: 20px; /* 游댳 Reduce el espacio para que no se "pierda" */
  display: block !important;
  text-align: center;
  font-size: 24px;
  color: #f43b3b; /* 游댳 Color rojo asegurado */
  position: relative; /* 游댳 Asegura que se posicione bien */
  z-index: 10; /* 游댳 Asegura que no quede detr치s de otros elementos */
}


.servicios-container {
  margin-top: -30px; /* 游댳 Acerca el t칤tulo m치s al banner */
}

.titulo-servicios {
  margin-top: 45px;  /* 游댳 Reduce el espacio arriba */
  margin-bottom: 20px; /* Espacio con las tarjetas */
  font-size: 24px;
  text-align: center;
  color: #f43b3b; /* 游댳 Rojo de la paleta */
}
