h4 {
    margin-top: 0px; /*  Asegura que no esté pegado al navbar */
    margin-bottom: 20px; /*  Reduce el espacio para que no se "pierda" */
    display: block !important;
    text-align: center;
    font-size: 24px;
    color: #f43b3b; /*  Color rojo asegurado */
    position: relative; /*  Asegura que se posicione bien */
    z-index: 10; /*  Asegura que no quede detrás de otros elementos */
  }

  .titulo-servicios {
    margin-top: 25px;  /* Reduce el espacio arriba */
    margin-bottom: 20px; /* Espacio con las tarjetas */
    font-size: 24px;
    text-align: center;
    color: #f43b3b; /* Rojo de la paleta */
  }

  .sobre-nosotros_36-31 {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background: #ffffff;
    width: 1440px;
    height: 1950px;
  }
  .rectangle-73_195-69509 {
    top: 609px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
  }
   
  .text-misi-n {
    top: 628px;
    left: 73px;
    position: absolute;
    display: flex;
    color: #000000;
    font-size: 36px;
    font-family: DM Sans;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 108px;
    height: 47px;
  }
  
  .text-visi-n {
    top: 628px;
    left: 785px;
    position: absolute;
    display: flex;
    color: #000000;
    font-size: 36px;
    font-family: DM Sans;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    width: 112px;
    height: 35px;
  }
  
  .text-ofrecer-permanente {
    top: 682px;
    left: 73px;
    position: absolute;
    display: flex;
    color: #000000;
    font-size: 20px;
    font-family: DM Sans;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    width: 566px;
    height: 283px;
  }
  
  .text-ser-un-centro-m-dico-veterinario {
  top: 682px;
    left: 785px;
    position: absolute;
    display: flex;
    color: #000000;
    font-size: 20px;
    font-family: DM Sans;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    width: 585px;
    height: 283px;
  }
  
  .group-1940_188-52 {
    top: 1027px;
    left: 29px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
  }
  .rectangle-67_118-62 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-en-nuestro-equipo-veterinario {
    top: 124px;
    left: 41px;
    position: absolute;
    display: flex;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0%;
    text-decoration: none;
    text-align: left;
    text-wrap: wrap;
    width: 551px;
    height: 408px;
  }
  
  .vet-doing-routine-examination_311-790 {
    top: 70px;
    left: 649px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-nuestro-equipo-veterinario_118-61 {
    top: 48px;
    left: 41px;
    position: absolute;
    display: flex;
    color: #000000;
    font-size: 36px;
    font-family: Inter;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 475px;
    height: 44px;
  }
  
  .group-1940_188-52 {
    position: relative;
    box-sizing: border-box;
  }
  .rectangle-67_118-62 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
  }
  