<div class="container mb-4">
  <h2 class="titulo-pagina">Sobre Nosotros</h2>

  <!-- Sección Misión y Visión -->
  <div class="mision-vision-container">
    <div class="card-mision">
      <h3>Misión</h3>
      <p class="parrafo-estandar">
        Ofrecer permanente satisfacción a nuestros clientes a través de nuestro servicio médico veterinario, brindando calidad, confiabilidad y seguridad.
      </p>
      <p class="parrafo-estandar">
        Además, nos apoyamos en equipo especializado y con la mejor tecnología utilizada por el personal médico veterinario altamente calificado y en constante actualización científica, garantizando el bienestar y salud de sus mascotas en conjunto con sus propietarios.
      </p>
    </div>

    <div class="card-vision">
      <h3>Visión</h3>
      <p class="parrafo-estandar">
        Ser un centro médico veterinario referente, aplicando estándares de alta calidad, que nos conlleve a una proyección de crecimiento a nivel nacional, prestando servicios competitivos, confiables, con la más alta tecnología y con recursos humanos calificados.
      </p>
      <p class="parrafo-estandar">
        Nuestro compromiso social es velar por la salud pública veterinaria y animal, mediante programas sanitarios de prevención y erradicación de enfermedades.
      </p>
    </div>
  </div>

  <!-- Sección Equipo Veterinario -->
  <div class="equipo-container mt-5">
    <div class="contenido">
      <h3 class="equipo-titulo">Nuestro Equipo Veterinario:</h3>
      <p class="parrafo-estandar">
        En Nuestro Equipo Veterinario, nos enorgullecemos de contar con un grupo de profesionales apasionados y altamente capacitados dedicados al bienestar de los animales.
      </p>
      <br><br/>
      <p class="parrafo-estandar">
        <span class="negrita">Compromiso y Pasión:</span><br />
        Cada uno de nuestros veterinarios comparte un profundo compromiso con la salud y el bienestar animal. Nos dedicamos a proporcionar atención de calidad, asegurando que cada animal reciba el diagnóstico y tratamiento adecuados.
      </p>
    </div>

    <div class="imagen">
      <img src="/top-view-paper-bone.jpg" alt="Equipo Médico Veterinario" />
    </div>
  </div>
</div>