
  .container {
    padding: 10px;
    background-color: #ffffff;
  }
  
  // Título general
  h3 {
    color: #0e544f;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  // Título de categorías
  h5 {
    color: #0e544f;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    border-left: 4px solid #227a89;
    padding-left: 10px;
  }
  
  // Botón de pregunta
  .btn-pregunta {
    width: 100%;
    text-align: left;
    background-color:  #e0f7f7; ;
    color: black;
    border: none;
    padding: 12px 16px;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #67c5e7;
      color: #0e544f;
    }
  }
  
  .numero {
    background-color: #1ea6bb; // celeste de tu paleta
    color: white;
    font-weight: bold;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
  }
    
  
  