.section-2_252-684 {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background: #d9d9d9;
    width: 100%;
    height: 339px;
    margin-top: 150px;
    padding: 10px 20px;
}

.huellas-1_261-702 {
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
    width: 100%;
}

.text-somos {
    top: 145px;
    left: 200px;
    position: absolute;
    display: flex;
    color: #000000;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    width: 876px;
    height: 125px;
    font-size: 16px;
}

.text-centro-medico {
    top: 73px;
    left: 253px;
    position: absolute;
    display: flex;
    color: #0e544f;
    font-size: 40px;
    font-family: DM Sans;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 700;
    text-align: left;
    text-wrap: nowrap;
    width: 518px;
    height: 60px;
}

.section-1_257-694 {
    top: 0px;
    left: 1050px;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    background: #ffffff;
    width: 500px;
    height: 339px;
}

.logo-cemevet-en-circulo_261-708 {
    top: 14px;
    left: 60px;
    position: absolute;
    display: flex;
    display: flex;
}

.section-3_32-112 {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background: #f5f5f5;
    width: 100%;
    height: 457px;
    margin-top: 150px;
    margin-bottom: 200px;
}

.text-ser-una-empresa {
    top: 150px;
    left: 527px;
    position: absolute;
    display: flex;
    color: #000000;
    font-size: 16px;
    font-family: DM Sans;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 400;
    text-align: left;
    width: 848px;
    height: 309px;
}

.top-view-paper-bone-paw-print-with-stethoscope-animal-day-1_32-124 {
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
}

.text-filosof-a_380-835 {
    top: 50px;
    left: 527px;
    position: absolute;
    display: flex;
    color: #000000;
    font-size: 36px;
    font-family: DM Sans;
    letter-spacing: 0%;
    text-decoration: none;
    font-weight: 600;
    text-align: left;
    width: 848px;
    height: 57px;
}