<div class="home-container">

    <!-- Sección Centro Médico -->
    <div class="intro-section">
      <div class="intro-content">
        <h2 class="titulo-home">Centro Médico Veterinario</h2>
        <p class="parrafo-estandar">
          Somos una clínica veterinaria, comprometidos con la salud y el bienestar de sus mascotas.
        </p>
      </div>
      <div class="logo-container">
        <img src="/Logo-circulo.jpeg" alt="Logo CeMeVet" class="logo-circulo" />
      </div>
    </div>
  
    <!-- Sección Filosofía -->
    <div class="filosofia-section fade-in">
      <div class="filosofia-imagen">
        <img src="/top-view-paper-bone.jpg" alt="Imagen Filosofía" />
      </div>
      <div class="filosofia-texto">
        <h3 class="titulo-filosofia">Filosofía</h3>
        <p class="parrafo-es">
          Ser una empresa que se esfuerza todos los días para que nuestros pacientes tengan la mejor atención médica y cuidado de la salud, y sus dueños tengan la comodidad necesaria en cada una de sus visitas. 
          <br><br>
          Ser una clínica veterinaria referente en la atención de sus mascotas y satisfacer las necesidades de nuestros clientes a través de nuestro servicio médico veterinario; brindando calidad, confiabilidad y seguridad, 
          con médicos veterinarios altamente capacitados, que cada día buscan ampliar sus conocimientos sobre la salud veterinaria, diagnóstico, prevención y tratamientos de sus mascotas.
        </p>
      </div>
    </div>
  
  </div>
